@media print {
   @page{
    margin: 1cm;
    margin: 0 0;
   }

   main{
    margin: 0 0;
   }

   h1,h2,h3{
    font-size: 40px;
    color: black;
   }

   a{
    color: black;
   }

   p{
    color: black;
   }

   span{
    color: black;
   }

   .episodes__inner{
    color: black;
   }

   .logo {
    display: block !important;
    fill: black !important;
   }

   .info {
        gap: 15px;
    }

    .info__text {
        row-gap: 10px;
    }

    .info__text-inner {
        row-gap: 10px;
    }

   

    .info__img{
        width: 30%;
    }

    .container.promo{
        display: none !important;
    }

    .email-block{
        display: none !important;
    }

    button {
        display: none !important;
    }

   img {
    display: none !important;
   }
  
   header{
    position: relative !important;
   }
   
   title {
    display: none !important;
   }

   .footer{
    margin-top: 70px;
    margin-bottom:50px ;
    }
    

   
}