*{ font-family: 'DM Sans', sans-serif;
    color: var(--color3);
    background-color: var(--color5);
    scroll-behavior: smooth;
}

:root{
    --color1:rgba(0, 255, 255, 0.6);
    --color2:black;
    --color3:#fff;
    --color4:#363F46;
    --color5:#191919;
}

main {
    display: flex;
    flex-direction: column;
    gap: 120px;
    margin-top: 120px;
    padding: 20px;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 57px;
}

h3 {
    font-size: 36px;
}

p {
    font-size: 22px;
}

svg {
    background: inherit;    
}

span {
        font-weight: 700;
}

body {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}



.level-title {
    position: relative;
}

.level-title::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('../img//line.svg');
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    top: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    opacity: .9;
    z-index: 20;

}

.header-nav{
    color:var(--color3);
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    gap: 20px;
}

.header-link:hover  {
    color:var(--color1);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 100%;
}

.promo {
    display: flex;
    gap: 54px;
    justify-content: space-between;
}


.promo__text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 526px;
}

.flex-png {
    display: flex;
    gap: 10px;
}

.properties {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.properties__inner {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.btn {
    background-color: var(--color1);
    border-radius: 8px;
    line-height: 1.33;
    padding: 10px;
    max-width: fit-content;
    transition: all 0.3s;

}

.btn:hover {
    opacity: 0.8;
    transition: all 0.3s;
}

.btn:focus {
    border: var(--color2) solid 1px;
}

.info__genre {
    background-color: var(--color4);
    border-radius: 8px;
    line-height: 0.5;
    padding: 10px;
    max-width: 140px;
    height: 29px;
}

.info__text-inner episodes {
    background-color: var(--color2);
    padding: 0 10px;
    font-size: 60px;
    flex:0 0 55%
}

.info {
    background-color: var(--color2);
    display: flex;
    gap: 54px;
    align-items: flex-start;
    padding: 40px;
    border-radius: 32px;
}

.info__text {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    background-color: inherit;
    align-items: start;
}

.info__text-inner {
    background: inherit;
    display: flex;
    row-gap: 34px;
    flex-direction: column;
}

.episodes__inner {
    color: var(--color1);
    font-size: 17px;
}

.portfolio {
    font-size: 70px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.btn-portfolio {
    color: var(--color1);
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
}

.img-arrow {
    width: fit-content;
}

.arrow__meet-sub-title {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    background-color: var(--color1);
}


.arrow__meet_cc{
    position: relative;
    height: 130px;
}

.arrow__meet_cc::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url("../img/arrow.png");
    width: 112px;
    height: 112px;
}


.email-block {
    row-gap: 40px;
    background-color: var(--color2);
    padding: 40px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.email-sub {
    background-color: var(--color2);
    font-size: 72px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    max-width: 431px;
}

.email-span {
    color:var(--color1);
    font-size: 18px;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    background-color: var(--color2);
    width: 100%;
    max-width: 522px;
}

.container-blocks {
    flex-direction: row;
}

.block-text {
    max-width: 470px;
    row-gap: 40px;
    background-color: var(--color2);
    padding: 62px;
    border-radius: 32px;
    overflow: overlay;
}

.container-comments {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    gap: 20px;
    max-width: 1440px;
    margin: 0 auto;
}

.user-name {
    background: var(--color2);
}

.user-name:hover  {
    color:var(--color1);
}

.footer {
    row-gap: 40px;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 116px;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.footer__nav :hover {
    color: var(--color1);
}

.end-img {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.block-text ul img {
    background-color:var(--color2);
}

.block-text-ul {
    display: flex;
    gap: 5px;
}
